# Шпаргалка по пандас:

сделал **Полуесов Андрей**, для себя и , возможно, для других.

вся документация зедсь -> https://pandas.pydata.org/pandas-docs/stable/index.html

In [257]:
import pandas as pd
import numpy as np

## Чтение файлов

In [4]:
# чтение пандас csv
df = pd.read_csv('/Users/andrejglavniy/Downloads/train_houses_reg.csv')

* для эксель pd.read_excel()
* периодически возможно чтение с sep, с ней сепарируем данные между собой
* также изменение кодировки периодически нужно - encoding
* и др.

In [10]:
# чтобы посмотреть инфу о таблице и столбца , их типах
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

немного выводов по таблице:
* как видно по таблице есть пропуски в колонках
* не всегда типы соответствуют значению

In [11]:
# кол-во строк/столбцов
df.shape

(1460, 81)

In [15]:
# просмотр n первых кол-ва строк
n=5
df.head(n)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [17]:
# просмотр n последних кол-ва строк
n=6
df.tail(n)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

## Анализ и предобработка

### Пропуски

In [23]:
# чтобы посмотреть кол-во пропусков построчно

df.isna()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1456,False,False,False,False,False,False,True,False,False,False,...,False,True,False,True,False,False,False,False,False,False
1457,False,False,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1458,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1459,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False

In [33]:
# кол-во пропусков и столбцы

df.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

Хочется их отсортировать по убыванию.

In [35]:
df.isna().sum().sort_values(ascending=False).head(20)

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
MasVnrType       872
FireplaceQu      690
LotFrontage      259
GarageYrBlt       81
GarageCond        81
GarageType        81
GarageFinish      81
GarageQual        81
BsmtFinType2      38
BsmtExposure      38
BsmtQual          37
BsmtCond          37
BsmtFinType1      37
MasVnrArea         8
Electrical         1
Id                 0
dtype: int64

прикол, почти угадали нижнюю границу, но здесь мы наугад действовали по кол-ву столбцов. Как иначе?

In [41]:
na_col = df.isna().sum()[df.isna().sum() > 0].sort_values(ascending=False)
na_col

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
MasVnrType       872
FireplaceQu      690
LotFrontage      259
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
BsmtFinType2      38
BsmtExposure      38
BsmtFinType1      37
BsmtCond          37
BsmtQual          37
MasVnrArea         8
Electrical         1
dtype: int64

* В данном случае мы изначально применили фильтрацию 'df.isna().sum() > 0', а так как при фильтрации вывод булевы значения, мы применили эту фильтрацию к изначальному датафрейму 'df.isna().sum()'.
* в итоге не нужен head()!

Возникает вопрос, какие типы у данных колонок и как их заменить?
- щас узнаем

1) У категориальных заменим, к примеру, на самую популчрную категорию
2) у числовых на медиану

- Вообще есть много вариантов замены категориальных значений, вплоть до заглушек, топовых значений, применений ml - задача классифицкации. Также разделение их на подкатегории .

In [60]:
# посмотреть на название стобцов с пропусками
na_col.index

Index(['PoolQC', 'MiscFeature', 'Alley', 'Fence', 'MasVnrType', 'FireplaceQu',
       'LotFrontage', 'GarageType', 'GarageYrBlt', 'GarageFinish',
       'GarageQual', 'GarageCond', 'BsmtFinType2', 'BsmtExposure',
       'BsmtFinType1', 'BsmtCond', 'BsmtQual', 'MasVnrArea', 'Electrical'],
      dtype='object')

In [53]:
# Категориальные столбцы
cat_columns = df.columns[df.dtypes == 'object']

# Числовые столбцы
num_columns = df.columns[df.dtypes != 'object']

In [55]:
def difference(df_col, iter_col) -> list:
    """ возвращает значения которые есть в двух списках
    """
    spisok=[]
    for col in iter_col:
        if col in df_col:
            spisok.append(col)
    return spisok

In [56]:
cat_na = difference(cat_columns, na_col.index)

In [64]:
num_na = difference(na_col.index, num_columns)

In [63]:
cat_na

['PoolQC',
 'MiscFeature',
 'Alley',
 'Fence',
 'MasVnrType',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'BsmtFinType2',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtCond',
 'BsmtQual',
 'Electrical']

In [65]:
num_na

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [89]:
df['BsmtCond'].value_counts().index[0]

'TA'

Отлично! Мы разделили столбцы с пропусками на категориальные и числовые.
Заменим пропуски!

In [92]:
def fill_nan(columns, cat=True) -> None:
    """ заполняет пропуски
    """
    for col in columns:
        
        if cat:
        # подсчет кол-ва уникальных значений столбца и вывод верхнего
            val = df[col].value_counts().index[0]
        else:
        # медиана для числовых
            val = df[col].median()

        # замена пропуска
        df[col] = df[col].fillna(val)

In [93]:
fill_nan(cat_na)
fill_nan(num_na, cat=False)

In [95]:
df.isna().sum()[df.isna().sum() > 0]

Series([], dtype: int64)

In [102]:
# когда кол-во пропусков по вашему мнению незначительно, а также не повлияет в худшую сторону их удаление
df = df.dropna()

### Дубликаты

In [98]:
# подсчет кол-ва дубликатов
df.duplicated().sum()

0

In [107]:
# удаление дубликатов, обязательно обновить индекс через reset_index
df = df.drop_duplicates().reset_index(drop=True)

отдельно хочется отметить ручной поиск и удаление дубликатов

### Изменение типов данных

In [121]:
df['Id'].dtype

dtype('int64')

изменим на object

In [123]:
df['Id'] = df['Id'].astype('object')

In [132]:
df['Id'].dtype

dtype('O')

### Удаление ненужных столбцов/строк

In [138]:
# вариант удаления через dropь важен axis!
df.drop(['Id'], axis=1)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Grvl,Reg,Lvl,AllPub,FR2,...,0,Gd,MnPrv,Shed,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,Grvl,IR1,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,Grvl,IR1,Lvl,AllPub,Corner,...,0,Gd,MnPrv,Shed,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,Grvl,IR1,Lvl,AllPub,FR2,...,0,Gd,MnPrv,Shed,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,6,2008,WD,Normal,147500

In [154]:
# вариант удаления строки по индексу 
df.drop([1,4,6], axis=0).reset_index(drop=True)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,2,2008,WD,Normal,208500
1,3,60,RL,68.0,11250,Pave,Grvl,IR1,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,9,2008,WD,Normal,223500
2,4,70,RL,60.0,9550,Pave,Grvl,IR1,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,2,2006,WD,Abnorml,140000
3,6,50,RL,85.0,14115,Pave,Grvl,IR1,Lvl,AllPub,...,0,Gd,MnPrv,Shed,700,10,2009,WD,Normal,143000
4,8,60,RL,69.0,10382,Pave,Grvl,IR1,Lvl,AllPub,...,0,Gd,MnPrv,Shed,350,11,2009,WD,Normal,200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,1456,60,RL,62.0,7917,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,8,2007,WD,Normal,175000
1453,1457,20,RL,85.0,13175,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,2,2010,WD,Normal,210000
1454,1458,70,RL,66.0,9042,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1455,1459,20,RL,68.0,9717,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,4,2010,WD,Normal,142125
1456,1460,20,RL,75.0,9937,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,6,2008,WD,Normal,147500

In [149]:
# вариант удаления через iloc столбца
df.iloc[:,1:]

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Grvl,Reg,Lvl,AllPub,FR2,...,0,Gd,MnPrv,Shed,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,Grvl,IR1,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,Grvl,IR1,Lvl,AllPub,Corner,...,0,Gd,MnPrv,Shed,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,Grvl,IR1,Lvl,AllPub,FR2,...,0,Gd,MnPrv,Shed,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,Grvl,Reg,Lvl,AllPub,Inside,...,0,Gd,MnPrv,Shed,0,6,2008,WD,Normal,147500

In [152]:
# вариант удаления через iloc строки 
df.iloc[5:,:]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
5,6,50,RL,85.0,14115,Pave,Grvl,IR1,Lvl,AllPub,...,0,Gd,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,8,2007,WD,Normal,307000
7,8,60,RL,69.0,10382,Pave,Grvl,IR1,Lvl,AllPub,...,0,Gd,MnPrv,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,1,2008,WD,Normal,118000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,Grvl,Reg,Lvl,AllPub,...,0,Gd,MnPrv,Shed,0,6,2008,WD,Normal,147500

### Перевод всех данных к числовым

нужно дополнить

## Примеры примениния методов pandas

### iloc и loc

* основное отличие iloc - это числовая индексация от 0:n-1, где n кол-во строк/столбцов
* у loc - это метки у индексов и столбцов (как называются)

In [177]:
df.iloc[2:,4:]

,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
2,11250,Pave,Grvl,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0,Gd,MnPrv,Shed,0,9,2008,WD,Normal,223500
3,9550,Pave,Grvl,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,0,Gd,MnPrv,Shed,0,2,2006,WD,Abnorml,140000
4,14260,Pave,Grvl,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,0,Gd,MnPrv,Shed,0,12,2008,WD,Normal,250000
5,14115,Pave,Grvl,IR1,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,0,Gd,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,10084,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,Somerst,Norm,...,0,Gd,MnPrv,Shed,0,8,2007,WD,Normal,307000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,0,Gd,MnPrv,Shed,0,8,2007,WD,Normal,175000
1456,13175,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,...,0,Gd,MnPrv,Shed,0,2,2010,WD,Normal,210000
1457,9042,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,Norm,...,0,Gd,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,9717,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,0,Gd,MnPrv,Shed,0,4,2010,WD,Normal,142125
1459,9937,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,Edwards,Norm,...,0,Gd,MnPrv,Shed,0,6,2008,WD,Normal,147500

In [178]:
df.loc[:2,'LotFrontage':]

,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,Gd,MnPrv,Shed,0,2,2008,WD,Normal,208500
1,80.0,9600,Pave,Grvl,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,Gd,MnPrv,Shed,0,5,2007,WD,Normal,181500
2,68.0,11250,Pave,Grvl,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,Gd,MnPrv,Shed,0,9,2008,WD,Normal,223500

In [180]:
# пример заполнения пропуска через loc
# game_survey.loc[game_survey['gender'] == 'None', 'gender'] = 'женский'

### pivot_table , сводная таблица

В общих чертах:
* нужно задать индекс
* нужно задать values
* нужно задать columns
* aggfunc

Что интересно, можно по несколько колонок закидывать.

In [185]:
df.pivot_table(index= 'MSZoning', values='MSSubClass', aggfunc='sum')

          MSSubClass
MSZoning
C (all)          560
FV              5880
RH              1285
RL             56830
RM             18515

In [196]:
round(
    df.pivot_table(index= ['Street','MSZoning'], 
                     columns ='LotShape', 
                     values='MSSubClass', 
                     aggfunc='mean')\
      .fillna(0),
    2
      )

LotShape            IR1     IR2    IR3    Reg
Street MSZoning
Grvl   C (all)     0.00    0.00   0.00  25.00
       RL        190.00    0.00   0.00  55.00
       RM          0.00   90.00   0.00   0.00
Pave   C (all)    50.00    0.00   0.00  65.71
       FV         94.00  100.00   0.00  89.23
       RH         80.00   50.00   0.00  82.69
       RL         47.94   46.29  42.22  50.41
       RM         72.50   75.00  30.00  86.23

### groupby , группировка и агрегирование

тоже вариант группировки таблиц

In [201]:
df.groupby('MSSubClass').agg({'LotFrontage':'sum'})

            LotFrontage
MSSubClass
20              40683.0
30               4216.0
40                219.0
45                660.0
50               9296.0
60              23404.0
70               3956.0
75               1232.0
80               4421.0
85               1416.0
90               3710.0
120              4440.0
160              2089.0
180               252.0
190              2007.0

### работа с датами

метод to_datetime() нужен для работы с датой

%d — день месяца (от 01 до 31)

%m — номер месяца (от 01 до 12)

%Y — четырёхзначный номер года (например, 2019)

Z — стандартный разделитель даты и времени

%H — номер часа в 24-часовом формате

%I — номер часа в 12-часовом формате

%M — минуты (от 00 до 59)

%S — секунды (от 00 до 59)

In [207]:
np.arange(2010, 2020)

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])

In [226]:
df['date'] = 1700

In [213]:
df['date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1460 entries, 0 to 1459
Series name: date
Non-Null Count  Dtype
--------------  -----
1460 non-null   int64
dtypes: int64(1)
memory usage: 11.5 KB

In [245]:
df['date_datetime'] = pd.to_datetime(df['date'], format='%Y')

In [246]:
df[['date_datetime','date']]

     date_datetime  date
0       1700-01-01  1700
1       1700-01-01  1700
2       1700-01-01  1700
3       1700-01-01  1700
4       1700-01-01  1700
...            ...   ...
1455    1700-01-01  1700
1456    1700-01-01  1700
1457    1700-01-01  1700
1458    1700-01-01  1700
1459    1700-01-01  1700

[1460 rows x 2 columns]

In [242]:
pd.to_datetime(df['date_datetime'], format='%m.%d.%Y')

0      1700-01-01
1      1700-01-01
2      1700-01-01
3      1700-01-01
4      1700-01-01
          ...
1455   1700-01-01
1456   1700-01-01
1457   1700-01-01
1458   1700-01-01
1459   1700-01-01
Name: date_datetime, Length: 1460, dtype: datetime64[ns]

* ниже приведены два варианта работы с датой , вывод года и т. д.

In [253]:
df['date_datetime'].dt.year

0       1700
1       1700
2       1700
3       1700
4       1700
        ...
1455    1700
1456    1700
1457    1700
1458    1700
1459    1700
Name: date_datetime, Length: 1460, dtype: int32

In [249]:
pd.DatetimeIndex(df['date_datetime']).year

Index([1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700,
       ...
       1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700],
      dtype='int32', name='date_datetime', length=1460)

### Создание нового df и series

In [274]:
data = np.arange(1,12,2).reshape(3,2)
data

array([[ 1,  3],
       [ 5,  7],
       [ 9, 11]])

In [275]:
pd.DataFrame(data)

   0   1
0  1   3
1  5   7
2  9  11

прикольно, но не устраивают axis в столбцах 0 и 1.

In [278]:
pd.DataFrame(data, columns=['first_step','second_step'])

   first_step  second_step
0           1            3
1           5            7
2           9           11

In [283]:
pd.Series(data=data[0], index=['a', 'b'])

a    1
b    3
dtype: int64

### Объединение таблиц

In [288]:
df1 = pd.DataFrame(np.arange(1,10,1).reshape(3,3))
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [291]:
df2 = pd.DataFrame(np.arange(11,20,1).reshape(3,3))
df2

    0   1   2
0  11  12  13
1  14  15  16
2  17  18  19

In [293]:
pd.concat([df1,df2], axis=1)

   0  1  2   0   1   2
0  1  2  3  11  12  13
1  4  5  6  14  15  16
2  7  8  9  17  18  19

In [302]:
list(df1.index)

[0, 1, 2]

In [304]:
df1.merge(df2, how='inner', left_index=True, right_index=True)

   0_x  1_x  2_x  0_y  1_y  2_y
0    1    2    3   11   12   13
1    4    5    6   14   15   16
2    7    8    9   17   18   19

## Сохранение

In [6]:
# сохранение в текущей директории, чаще всего стоит указывать index=False(не укажете будет доп индекс создан)
df.to_csv('df_fuck.csv', index=False)